body{
    font-family:  "Work Sans", sans-serif;
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
    color: black;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -5%;
    width: 100vw;
    
}


/* nav -----------------------------------------------*/
nav{


    padding: 20px 0;
}

.nav{
    width: 100%;
}
.nav__container{
    display: flex;
    flex-direction: row;
    margin: 0px 60px;

    justify-content: space-between;
    padding: 10px 10px;
    
}

.nav__links{
    display: flex;
    list-style: none;
    gap: 100px;
    padding: 0;
    margin:0;


    & a{
        color: black;
        text-decoration: none;
        transition: color 0.3s; 
    }
}


.burgermenu{

    & svg{
        display: none;

    }

}

.nav--open{




    & .nav__container{
        height: 100%;

        width: 100%;

        gap: 0;


        & .nav__links{
            transform: translateX(0%);
            transition: all .5s;
        }
    }

    & .burgermenu{
        transform: rotate(90deg);
        transition: all .3s;
    }



    & .logo{
        
    }

    & .nav__link{

        font-size: 35px;
        font-weight: 500;

        

    }

    & .nav__link:hover{
        color: rgb(0, 0, 0);
        transition: color 0.5s;
    }

}


.burgermenu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    background: none;
    border: none;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;

    & svg{

        height: 25px;
        width: 25px;
    }
}

.logo{
    font-size: 28px;
    font-weight: 500;
}

/* body -----------------------------------------------*/
section{
    padding: 50px 0;
    margin: 100px auto 100px auto;

    width: 1000px;
    gap: 5%;
}


.header{
    display: flex;
    justify-content: space-between;

}

.header--pg2{
    width: 84%;
}

h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
}

h2{
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 700;
    line-height: 110%
}
.bigtext{
    font-size: 24px;
    font-weight: 300;

}

p{
    max-width: 100%;
}



.text__column{

    width: 45%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}




.header__illu{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;

}

.section__logos{
    display: flex;
    justify-content: space-between;
    


}


.evenment__text{
    margin: 10vh 0;
}


.CC-commons-by{
    display: flex;
    align-items: center;
    font-size: 14px;
    
    & img{
        height: 28px;
    }
}


.linkpg2{
    gap: 13px;
    & img{
        height: 20px;
    }
}

.link{
    display: flex;
    align-items: center;
    gap: 13px;
    height: 20px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: solid 1px black;
    width: fit-content;

    & p{
        margin: 0;

    }
}

.company__logo {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: auto;
    justify-content: space-between;
    box-sizing: border-box;
    border: 3px black solid;
    border-radius: 15px;
    padding: 20px;
    width: 45%;
    gap: 30px;
    & img{

        height: 35px;
        width: auto;
    }
}


.bloc__text{
    justify-content: space-between;
    display: flex;


    
}








.callnextpage__container{
    justify-self: center;
    padding: 30px 50px;
    border: 3px black solid;
    box-shadow: -8px 6px #8B6AF0;
    width: 60%;
    height: 100%;


        & p{
            justify-self: center;
        }

        & a{
        color: black;
        font-weight: 800;

 
    }
}


.callnextpage--pg2{
    width: 60%
}

.callnextpage__container--pg2{
    box-sizing: border-box;

    width: 100%;

}

/* footer----------------------------------------------- */


footer{
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 8%;
    width: 100vw;
}


.footer__container{
    display: flex;

    flex-direction: row;
    height: 40vh;
    gap: 20%;

}

h3{
    font-family: "Open sans", sans-serif;
    font-weight: 700;

    font-size: 24;
}

.newletter{
    width: 50%;
}

form{
    display:flex ;
    justify-content: space-between;
    width: 100%;
    font-family:  "Work Sans", sans-serif;   
    gap: 20px;

    & input{
        font-family:  "Work Sans", sans-serif;   
        font-weight: 600;
        padding:12px 20px ;
        border: 3px black solid;
        align-self: center;
        color: black;
        text-decoration: none;
        height: 100%;
        font-size: 14px;
        border-radius: 6px;
    }

    & label{
        display: none;
    }
}

.newsletter__email{
    width: 100%;
}

.submit{
    width: auto;
    background-color: black;
    color: white;
}


.footer__links{
    display: flex;
    gap: 100px;
}

.footer_pages{
   list-style: none;
   width: fit-content;

    height: fit-content;
    padding: 0;
}

.footer_reseaux{
   list-style: none;
    width: fit-content;

    height: fit-content;
    padding: 0;
}

.footer_page a{
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.footer_reseau a{
    color: black;
    font-weight: 500;
    font-size: 16px;

}

.footer__credits{
    & p {
        margin: 10px;
    }
}

.bold{
    font-weight: 700;
}

 @media (max-width : 1200px) {
    

    .burgermenu{
        z-index: 20;
        transition: all .3s;
        transform: rotate(0);
        & svg{
            display: flex;


        }

}



 .nav__links{  
    background-color: white;
    z-index: 3;
    padding-top: 100px;    
    padding-left: 50px;
    top: 0px; 
    left: 0px;   
    height: 100%;  
    width: 100%;
    transform: translatex(-200%);
    transition: all 0.5s;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column; 
    }

    section{
        margin: 10px 0;
        box-sizing: border-box;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }



    .header{
        flex-direction: column;
        gap: 20px;
        & .header__illu{
            width: 50%;
            height: auto;
        }
    }


    .text__column{
        width: 70%;
    }

.section__logos{
    flex-direction: column;
    gap: 20px;
}

.company__logo{
    width: 70%;
}


.bloc__text{
    flex-direction: column;
    gap: 20px;
}


.callnextpage{
    padding: 50px 10px;
}

.callnextpage__container{
    width: 70%;
}


 }


 @media (max-width:840px){


    .section{
        padding-left: 75px;
        padding-right: 75px;
    }


    .text__column{
        width: 100%;
    }





    .footer__container{
        height: 60vh;
        gap: 0;
        display: flex;
        flex-direction: column;
    }


    .footer_pages{
        width: 10%;
    }

    .newletter{
        width: 100%;
    }
 }





