body{
    font-family:  "Work Sans", sans-serif;
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
    color: black;
    font-size: 18px;
    line-height: 140%;
}


/* nav -----------------------------------------------*/
nav{

    padding: 20px 0;
}
.nav__container{
    display: flex;
    flex-direction: row;
    margin: 0px 60px;

    justify-content: space-between;
    padding: 10px 10px;
}

.nav_links{
    display: flex;
    list-style: none;
    gap: 100px;
    padding: 0;
    margin:0;

    & a{
        color: black;
        text-decoration: none;
    }
}

.logo{
    font-size: 28px;
    font-weight: 500;
}

/* body -----------------------------------------------*/
section{
    margin: 100px 0;
    justify-self: center;
    max-width: 1400px;
}


.header{
    display: flex;
    gap: 5% ;
}

h1{
    font-size: 48px;
    font-weight: 700;
}
.bigtext{
    font-size: 24px;
    font-weight: 300;

}

p{
    max-width: 100%;
}

.text__column{
    width: 40%;
    display: flex;
    flex-direction: column;
    & h2{
        margin-top: auto;
    }
}

.header__illu{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;

}

.section__logos{

    display: flex;

}


