body{
    font-family:  "Work Sans", sans-serif;
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
    color: black;
    font-size: 18px;
    line-height: 140%;
}


/* nav -----------------------------------------------*/
nav{

    padding: 20px 0;
}
.nav__container{
    display: flex;
    flex-direction: row;
    margin: 0px 60px;

    justify-content: space-between;
    padding: 10px 10px;
}

.nav_links{
    display: flex;
    list-style: none;
    gap: 100px;
    padding: 0;
    margin:0;

    & a{
        color: black;
        text-decoration: none;
    }
}

.logo{
    font-size: 28px;
    font-weight: 500;
}

/* body -----------------------------------------------*/
section{
    padding: 50px 0;
    margin: 100px 8% 100px 8%;

    max-width: 1600px;
    gap: 5%;
}


.header{
    width: 70%;
    display: flex;
    justify-content: space-between;

}

h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
}
.bigtext{
    font-size: 24px;
    font-weight: 300;

}

p{
    max-width: 100%;
}

.text__column{

    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    & h2{
        margin-top: auto;
    }
}




.header__illu{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;

}

.section__logos{
    display: flex;
    width: 70%;
    justify-content: space-between;



}

.CC-commons-by{
    display: flex;
    align-items: center;
    font-size: 14px;
    
    & img{
        height: 28px;
    }


}


.company__logo {
    display: flex;
    flex-wrap: wrap;
    gap: auto;
    justify-content: space-between;
    box-sizing: border-box;
    border: 3px black solid;
    border-radius: 15px;
    padding: 20px;
    width: 40%;
    gap: 30px;
    & img{

        height: 35px;
        width: auto;
    }
}


.bloc__text{
    justify-content: space-between;
    display: flex;
    width: 100%;

    
}



.callnextpage{
    width: 100%;


    
}

.callnextpage__container{
    justify-self: center;
    padding: 30px 50px;
    border: 3px black solid;
    box-shadow: -8px 6px #8B6AF0;
    width: 60%;
    height: 100%;


        & p{
            justify-self: center;
        }

        & a{
        color: black;
        font-weight: 800;

 
    }
}

/* footer----------------------------------------------- */


footer{
    padding: 0 8%;
}


.footer__container{
    display: flex;

    flex-direction: row;
    height: 40vh;
    gap: 20%;

}

h3{
    font-family: "Open sans", sans-serif;
    font-weight: 700;
    letter-spacing: -5%;
    font-size: 24;
}

.newletter{
    width: 50%;
}

form{
    display:flex ;
    justify-content: space-between;
    width: 100%;
    font-family:  "Work Sans", sans-serif;   
    gap: 20px;

    & input{
        font-family:  "Work Sans", sans-serif;   
        font-weight: 600;
        padding:12px 20px ;
        border: 3px black solid;
        align-self: center;
        color: black;
        text-decoration: none;
        height: 100%;
        font-size: 14px;
        border-radius: 6px;
    }

    & label{
        display: none;
    }
}

.newsletter__email{
    width: 100%;
}

.submit{
    width: auto;
    background-color: black;
    color: white;
}


.footer__links{
    display: flex;
    gap: 100px;
}

.footer_pages{
   list-style: none;
   width: fit-content;

    height: fit-content;
    padding: 0;
}

.footer_reseaux{
   list-style: none;
    width: fit-content;

    height: fit-content;
    padding: 0;
}

.footer_page a{
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.footer_reseau a{
    color: black;
    font-weight: 500;
    font-size: 16px;

}

.footer__credits{
    & p {
        margin: 10px;
    }
}

.bold{
    font-weight: 700;
}